
 // --- MOBILE style ---
.container {
    display: grid;
    height: 100vh;
    grid-template-rows: .1fr 1fr .2fr .01fr;
    text-align: center;
    gap: .5em;
    user-select: none;

    .main {
        .hero_section {
    
            h1{
                text-transform: uppercase;
                margin: 3em 0 0 0;
                padding: 0 0 0 .5em;
                text-align: left;
                font-size: 3rem;
                line-height: 1em;
            }

    
            .hero_cta {
                display: inline-block;
                outline: none;
                cursor: pointer;
                padding: .5em 1em;
                margin: 8em 0;
                background-image: radial-gradient(rgb(120, 0, 0), black);
                border-radius: 0.5rem;
                border: none;
                color: #fff;
                font-size: 13px;
                line-height: 30px;
                font-weight: 400;
                text-align: center;
                &:active {
                    background-color: #005fb2;  
                }
                a {
                    color: white;
                    text-decoration: none;
                    padding: 1em .1em;
                }
            }
        }

        .contact_scroll {
            text-decoration: none;
            color: black;
            padding: 1em;
            font-size: 13px;
            background-image: radial-gradient(rgb(120, 0, 0), black);
            color: white;
            border-radius: 10px;
        }
    
    }
    
    .footer {
        background-color: rgb(20, 20, 20);
        color: white;
        
    }
}



                    // --- DESKTOP ---

@media screen and (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-areas: 
            "header"
            "main"
            "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1fr .2fr;

        

        .main {
            grid-area: main;

            .hero_section {
    
                h1{
                    margin: 1em 4em 0 0;
                    font-size: 8rem;
                }
            }
        }
        
        .footer {
            grid-area: footer;
        }
    }
}
    