.header {
    position: fixed;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.307);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    z-index: 1;
    will-change: transform;
    transform-style: preserve-3d;
    
    .menuBtn {
        fill: black;
        width: 2.5em;
        height: 2.5em;
        transition: all ease .2s;
        &:active{
            fill: rgb(220, 148, 5);
        }
    }

    h3 {
        margin: .8em 0 0 1em; 
        font-weight: 900;
    }

    nav {
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        box-shadow: 1px 0 40px rgb(100, 100, 100);
        height: 100vh;
        width: 50%;
        text-transform: uppercase;
        transform: translateX(-120%);
        transition: transform .5s ease-in-out;
        will-change: transform;
        transform-style: preserve-3d;
        
        .closeBtn {
            fill: black;
            float: left;
            margin: 1em;
            width: 3em;
            transition: all ease .2s;
            &:active{
                fill: red;
            }
        }

        ul {
            list-style: none;
            padding: 5em 0 0 0;
            font-size: 1.3rem;
            text-align: left;
            a {
                text-decoration: none;
                padding: 1em 2em;
                color: black;
                display: block;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    .openNav {
        transform: translateX(0%);
    }

    .closeNav {
        transform: translateX(-120%);
    }
}


@media screen and (min-width: 1025px) {
    .header {
      grid-area: header;
      display: flex;
      justify-content: space-between;
      
      h3 {
          margin: .1em 0 0 1em;
      }
  
      .menuBtn {
          display: none;
      }
  
      nav {
          position: static;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          box-shadow: none;
          width: auto;
          height: auto;
          text-transform: uppercase;
          transform: none;
          transition: none;
          
          .closeBtn {
              display: none;
          }
  
          ul {
              padding: 0;
              text-align: center;
              li {
                  display: inline-block;
              }
              a {
                  padding: .5em .5em .5em .5em;
                  font-weight: 600;
                  display: inline;
                  &:hover {
                      border-radius: 10px;
                  }
              }
          }
      }
      .closeNav {
          transform: none;
      }
  }
  }