.header {
    position: fixed;
    background-color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    width: 100vw;

    nav {
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        box-shadow: 1px 0 40px rgb(100, 100, 100);
        height: 100vh;
        width: 50%;
        z-index: 999;
        text-transform: uppercase;
        transform: translateX(-120%);
        transition: all .5s ease-in-out;
        // display: none;
        
        .closeBtn {
            fill: black;
            float: left;
            margin: 1em;
            width: 3em;
            transition: all ease .2s;
            &:active{
                fill: red;
            }
        }

        ul {
            list-style: none;
            padding: 5em 0 0 0;
            font-size: 1.3rem;
            text-align: left;
            a {
                text-decoration: none;
                padding: 1em 2em;
                color: black;
                display: block;
                // font-size: 1.3rem;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    .openNav {
        transform: translateX(0%);
    }

    .closeNav {
        transform: translateX(-120%);
    }

    .menuBtn {
        fill: black;
        width: 2.5em;
        height: 2.5em;
        transition: all ease .2s;
        &:active{
            fill: rgb(220, 148, 5);
        }
    }

    .logo {
        margin: 0 0 0 1.5em;
    }

    h2 {
        padding: .2em 0 0 0;
    }
}