.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    gap: .5em;
    // background-image: var(--dark-bg);
    // color: var(--dark-txt);

    .main {
        margin-top: 10em;
    }
}